*{
	margin:0;padding:0;
}

.title{
	padding:15px 0px;
	background-color: #000;
	color:#fff;
}

.sub-title{
	padding:10px 0px;
	color:#444;
}

.text-center{
	text-align: center;
}

.item-list{
	margin: 40px 10px;
}

.item-list>button{
	margin:5px 15px;
}

button{
	background-color: #fff;
}

/* Button Shape CSS */

.regular{
	font-size:15px;
	padding:10px 20px;
}

.round{
	width: 70px;
	height:70px;
	border-radius:50%;
	border:none;
	background-color: red;
	color: #fff;
	font-size:15px;
}

.trapezoid {
	color: #fff;
	border-bottom: 50px solid blue;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: none;
	height: 0;
	width: 125px;
}

.square{
	width:70px;
	height:70px;
	font-size:15px;
}

.triangle{
	border-top:none;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #555;
}

.triangle-right {
	border-top: 65px solid transparent;
	border-bottom: 30px solid red;
	border-left: 65px solid red;
    border-right: 30px solid transparent;
}

.pentagon{
	position: relative;
    width: 54px;
    box-sizing: content-box;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: green transparent;
}
.pentagon:before{
	content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -85px;
    left: -18px;
    border-width: 0 45px 35px;
    border-style: solid;
    border-color: transparent transparent green;
}

.hexagon {
	width: 100px;
	height: 55px;
	color:#fff;
	background: gray;
	position: relative;
}
.hexagon:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid gray;
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid gray;
}

.octagon {
	width: 100px;
	height: 100px;
	background: yellow;
	position: relative;
	border:none;
}
.octagon:before {
	content: "";
	width: 42px;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 29px solid yellow;
	border-left: 29px solid #fff;
	border-right: 29px solid #fff;
}
.octagon:after {
	content: "";
	width: 42px;
	height: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 29px solid yellow;
	border-left: 29px solid #fff;
	border-right: 29px solid #fff;
}

.rhambus {
	width: 100px;
	height: 100px;
	transform: skew(-20deg);
	background: orange;
	color:#000;
}

.semi-circle {
	width:120px;
	height:60px;
	border-bottom-left-radius: 80px;
	border-bottom-right-radius: 80px;
	background-color:#000;
	color:#fff;
}


/* Button Size CSS */

.btn{
	padding:8px 16px;
	border:none;
	color: #fff;
}

.tiny-button{
	background-color: red;
	font-size:8px;
}

.small-button{
	background-color: green;
	font-size:12px;
}

.medium-button{
	background-color: gray;
	font-size:15px;
}

.large-button{
	background-color: blue;
	font-size:18px;
}

.extraLarge-button{
	background-color: #555;
	font-size:24px;
}

/* Button with icon CSS */

i{
	padding:0px 10px;
}

span {
  display: block;
}

/*Button with different outline CSS */

.btn-outline{
	padding:8px 16px;
	font-size:15px;
	background-color:#fff;
	box-shadow:none;
}

.primary{
	--color:blue;
	border-color:var(--color);
	color: var(--color);	
}

.success{
	--color:green;
	border-color:var(--color);
	color: var(--color);	
}

.warning{
	--color:orange;
	border-color:var(--color);
	color: var(--color);	
}

.danger{
	--color:red;
	border-color:var(--color);
	color: var(--color);
}

/* Button with different edge CSS */

.semi-round{
	border-radius: 7px;
}

.full-round{
	border-radius:20px;
}

/* Active and disable Button CSS */

.btn-fill{
	font-size:18px;
	padding:8px 16px;
	border:none;
	background: green;
	color:white;
}

.disable{
	opacity:0.7;
	cursor:not-allowed;
}

/* Dropdown Button CSS */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: blue;
  color: white;
  padding: 16px;
  font-size: 16px;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: blue;
  min-width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
	background-color: #fff;
	color:blue;
}

.dropdown:hover .dropbtn {
	background-color: #fff;
	border-color:blue;
	color:blue;
}

.left-content{
	top:0;
	right:100%;
}

.right-content{
	top:0;
	left:100%;
}

.up-content{
	bottom:100%;
}

/*	Image Button CSS	*/

.btn-img{
	border:none;
}

.img-circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

/*	Animated Button CSS*/

#progress-bar {
  width: 100%;
  background-color: #ddd;
}

#progress {
  width: 0;
  height: 30px;
  background-color: #444;
}

#progress-bar:hover #progress{
	width: 100%;
	height: 30px;
	background-color: #444;
	transition: 1s;
}

.btn-grow{
	padding:8px 16px;
	border:none;
	background-color:#000;
	color: #fff;
	font-size:24px;
}
.btn-grow:hover{
	transition: .3s all ease-in-out; 
	transform: scale(1.5);
}

.btn-shrink{
	padding:8px 16px;
	border:none;
	background-color:#000;
	color: #fff;
	font-size:24px;
}
.btn-shrink:hover{
	transition: .3s all ease-in-out; 
	transform: scale(0.8);
}

.btn-pulse{
	height:100px;
	width:100px;
	padding:12px;
	border:none;
	border-radius:50%;
	background-color:#000;
	color: #fff;
	font-size:24px;
	animation: pulse 1.5s infinite;
}
@keyframes pulse {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.btn-bounceIn{
	padding:8px 16px;
	border:none;
	background-color:#000;
	color: #fff;
	font-size:24px;
}
.btn-bounceIn:hover{
	transform: scale(1.5);
	animation: bounceIn 1s ;
	animation-direction: liner;
}
@keyframes bounceIn {
    0% {
        transform: scale(1);
        /*box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);*/
    }
	30% {
        transform: scale(1.5);
        /*box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);*/
    }

    70% {
        transform: scale(1.2);
        /*box-shadow: 0 0 0 50px rgba(0, 0, 0, 0);*/
    }

    100% {
        transform: scale(1.5);
        /*box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);*/
    }
}

.btn-bounceOut{
	padding:8px 16px;
	border:none;
	background-color:#000;
	color: #fff;
	font-size:24px;
}
.btn-bounceOut:hover{
	transform: scale(0.5);
	animation: bounceOut 1s ;
	animation-direction: liner;
}
@keyframes bounceOut {
    0% {
        transform: scale(1);
        /*box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);*/
    }
	30% {
        transform: scale(0.4);
        /*box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);*/
    }

    70% {
        transform: scale(0.7);
        /*box-shadow: 0 0 0 50px rgba(0, 0, 0, 0);*/
    }

    100% {
        transform: scale(0.5);
        /*box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);*/
    }
}

.btn-bouncing{
	padding:8px 16px;
	border:none;
	background-color:#000;
	color: #fff;
	font-size:24px;
	animation: bounceing 1.5s infinite;
}
@keyframes bounceing {
    0% {
    transform: scale(1,1) translate(0px, 0px);
  }
  
  30%{
    transform: scale(1,0.8) translate(0px, 10px); 
  }

  75%{
    transform: scale(1,1.1) translate(0px, -25px); 
  }
  
 100% {
    transform: scale(1,1) translate(0px, 0px);
  }
}

.btn-rotating{
	height:70px;
	width:70px;
	border-radius:50%;
	padding:8px;
	border:none;
	background-color:#000;
	color: #fff;
	font-size:24px;
	animation: rotating 1.5s infinite;
}
@keyframes rotating {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.btn-skew{
	padding:8px 16px;
	border:none;
	background-color:#000;
	color: #fff;
	font-size:24px;
}
.btn-skew:hover{
	transform: skew(-25deg);
	transition: all .5s ease-in-out;
}

.btn-bg-leftToRight{
	border: 1px solid black;
	padding:8px 16px;
	/*display: block;*/
	font-size:24px;

	background: linear-gradient(to right, black 50%, white 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all .5s ease-out;
}
.btn-bg-leftToRight:hover{
	background-position: left bottom;
	color: white; 
}

.btn-bg-rightToLeft{
	border: 1px solid black;
	padding:8px 16px;
	/*display: block;*/
	font-size:24px;

	background: linear-gradient(to left, black 50%, white 50%);
	background-size: 200% 100%;
	background-position: left bottom;
	transition: all .5s ease-out;
}
.btn-bg-rightToLeft:hover{
	background-position: right bottom;
	color: white; 
}

.btn-bg-topToBottom{
	border: 1px solid black;
	padding:8px 16px;
	/*display: block;*/
	font-size:24px;

	background: linear-gradient(to bottom, black 50%, white 50%);
	background-size: 100% 200%;
	background-position: center bottom;
	transition: all .5s ease-out;
}
.btn-bg-topToBottom:hover{
	background-position: center top;
	color: white; 
}

.btn-bg-bottomToTop{
	border: 1px solid black;
	padding:8px 16px;
	/*display: block;*/
	font-size:24px;

	background: linear-gradient(to top, black 50%, white 50%);
	background-size: 100% 200%;
	background-position: center top;
	transition: all .5s ease-out;
}
.btn-bg-bottomToTop:hover{
	background-position: center bottom;
	color: white; 
}

.btn-bg-rectangleIn{
	padding:8px 16px;
	border: 1px solid black;
	font-size:24px;
	
	background: linear-gradient(to top, black 50%, white 50%);
	background-size: 100% 200%;
	background-position: center top;
	
	transition: all 0.5s ease-in-out;
}
.btn-bg-rectangleIn:hover{
	box-shadow:inset 0 0 0 70px black;
	color:#fff;
}

.btn-bg-rectangleOut{

	padding:8px 16px;
	border: 1px solid black;
	display:inline-block;
	color:#000;
	font-size: 24px;
	position:relative;
	background:  #fff;
	z-index:1;
}
.btn-bg-rectangleOut:before {
	content: "";
	position: absolute;
	z-index:-1;
	top: 0;  left: 0;  right: 0;  bottom: 0;
	background: #000;
	transform: scale(0);
	transform-origin:  50%;
	transition: transform .5s ease-out;
}

.btn-bg-rectangleOut:hover:before{
	transform: scale(1);
}
.btn-bg-rectangleOut:hover{
	color:#fff;
}

.btn-bg-radialIn{
	padding:8px 16px;
	border: 1px solid black;
	font-size:24px;
	
	background: radial-gradient(rectangle at center, black 50%, white 50%);
	background-size: 100% 200%;
	background-position: center top;
	
	transition: all 0.5s ease-in-out;
}
.btn-bg-radialIn:hover{
	animation: radialIn 0.2s;background: #000;color: #fff;
}
@keyframes radialIn {
  0% {
	  background: radial-gradient(circle at center, #fff 99%, #000 100%, #000 100%);
    
  }
  25% {
	  background: radial-gradient(circle at center, rgba( 255, 255, 255, 0.8 ) 74%, #000 75%, #000 100%);
  }
  50% {
    background: radial-gradient(circle at center, rgba( 255, 255, 255, 0.5 ) 49%, #000 50%, #000 100%);
  }
  75% {
    
    background: radial-gradient(circle at center, rgba( 255, 255, 255, 0.3 ) 24%, #000 25%, #000 100%);
  }
  100% {
    color: #fff;
    background: radial-gradient(circle at center, rgba( 255, 255 , 255, 0 ) 0%, #000 0%, #000 100%);
  }
}

.btn-bg-radialOut{
	padding:8px 16px;
	border: 1px solid black;
	font-size:24px;
}
.btn-bg-radialOut:hover{
	animation: radialOut 0.2s;background: #000;color: #fff;
}
@keyframes radialOut {
  0% {
    background: radial-gradient(circle at center, rgba( 0, 0 , 0, 0 ) 0%, #fff 0%, #fff 100%);
  }
  25% {
    background: radial-gradient(circle at center, rgba( 0, 0, 0, 0.3 ) 24%, #fff 25%, #fff 100%);
  }
  50% {
    background: radial-gradient(circle at center, rgba( 0, 0, 0, 0.5 ) 49%, #fff 50%, #fff 100%);
  }
  75% {
    background: radial-gradient(circle at center, rgba( 0, 0, 0, 0.8 ) 74%, #fff 75%, #fff 100%);
  }
  100% {
    color: #fff;
    background: radial-gradient(circle at center, #000 99%, #fff 100%, #fff 100%);
  }
}

/*	Icon Button CSS*/

.btn-icon-toBack{
	padding:8px 16px;
	border:none;
	color: #fff;
	background-color:#333;
	font-size:18px;
}
.btn-icon-toBack:hover .fa-hand-point-left{
	transform: translateX(-10px);
	transition: all 0.5s ease-in-out;
}

.btn-icon-toForward{
	padding:8px 16px;
	border:none;
	color: #fff;
	background-color:#333;
	font-size:18px;
}
.btn-icon-toForward:hover .fa-hand-point-right{
	transform: translateX(10px);
	transition: all 0.5s ease-in-out;
}

.btn-icon-toUp{
	padding:8px 16px;
	border:none;
	color: #fff;
	background-color:#333;
	font-size:18px;
}
.btn-icon-toUp:hover .fa-hand-point-up{
	transform: translateY(-5px);
	transition: all 0.5s ease-in-out;
}

.btn-icon-toDown{
	padding:8px 16px;
	border:none;
	color: #fff;
	background-color:#333;
	font-size:18px;
}
.btn-icon-toDown:hover .fa-hand-point-down{
	transform: translateY(5px);
	transition: all 0.5s ease-in-out;
}

.btn-icon-toSpin{
	padding:8px 16px;
	border:none;
	color: #fff;
	background-color:#333;
	font-size:18px;
}
.btn-icon-toSpin:hover .fa-sync-alt{
	animation: rotating 1.5s infinite;
}

.btn-icon-toPulse{
	padding:8px 16px;
	border:none;
	color: #fff;
	background-color:#333;
	font-size:18px;
}
.btn-icon-toPulse:hover .fa-heartbeat{
	animation: toPulse 1.5s infinite;
}
@keyframes toPulse {
    0% {
        transform: scale(1);
    }
	25% {
        transform: scale(1.3);
    }
	50% {
        transform: scale(0.6);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.9);
    }
}

.btn-icon-toChange{
	position:relative;
	padding:8px 16px;
	border:none;
	color: #fff;
	background-color:#333;
	font-size:18px;
}
.multiple-icons{
	padding:0px 15px;
	transform: translate(-25px, -15px);
	position:relative;
	display:inline-block;
}

.icon-default{
	position:absolute;
	display:block;
	opacity:1;
}
.icon-hover{
	position:absolute;
	display:block;
	opacity:0;
}
.btn-icon-toChange:hover .icon-hover{
	opacity:1;
	
}
.btn-icon-toChange:hover .icon-default{
	opacity:0;
}

.btn-label-toBack{
	padding:8px 16px;
	border:none;
	color: #fff;
	background-color:#333;
	font-size:18px;
}
.btn-label-toBack{
	text-transform: uppercase;
}

.btn-border-hollow{
	padding:8px 16px;
	border:none;
	color: #fff;
	background-color:#333;
	font-size:24px;
}
.btn-border-hollow:hover{
	box-shadow:inset 0 0 0 5px #333;
	background-color:#fff;
	color:#000;
	transition: all 0.7s ease-in-out;
}

.btn-border-trim{
	padding:8px 16px;
	border:none;
	color: #fff;
	background-color:#333;
	font-size:24px;
	position: relative;
}
.btn-border-trim:before {
  content: '';
  position: absolute;
  border:  4px solid #fff;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  opacity: 0;
  transition-duration: 0.3s;
  transition-property: opacity;
}
.btn-border-trim:hover:before {
  opacity: 1;
}

.btn-border-toLeft{
	padding:8px 16px;
	border: 1px solid black;
	font-size:24px;
	position: relative;
}
.btn-border-toLeft:after{
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #000;
  transition: width .2s ease;
}
.btn-border-toLeft:hover:after{
  width: 100%;
  left: 0;
  background: #000;
}

.btn-border-toCenter{
	padding:8px 16px;
	border: 1px solid black;
	font-size:24px;
	position: relative;
}
.btn-border-toCenter:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 0;
	left: 0;
	background-color: #000;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out;
}
.btn-border-toCenter:hover:before { 
	visibility: visible;
	transform: scaleX(1);
}

.btn-border-toRight{
	padding:8px 16px;
	border: 1px solid black;
	font-size:24px;
	position: relative;
}
.btn-border-toRight:after{
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #000;
  transition: width .5s ease;
}
.btn-border-toRight:hover:after{
  width: 100%;
  right: 0;
}

/*	3D Transition CSS*/

.btn-floatShadow{
	padding:8px 16px;
	border: 1px solid black;
	font-size:24px;
	transition: all 1s ease-in-out ;
}
.btn-floatShadow:hover {
  box-shadow: 0px 42px 9px -15px rgba(0,0,0,0.5);
  transform: translate(0px, -10px);
}

.btn-radialShadow {
	padding:8px 16px;
	border: 1px solid black;
	font-size:24px;
	position: relative;
}
.btn-radialShadow:before, .btn-radialShadow:after {
  position: absolute;
  content: '';
  left: 0;
  width: 100%;
  height: 7px;
  opacity: 0;
  transition-duration: 0.3s;
  transition-property: opacity;
}
.btn-radialShadow:before {
  bottom: 100%;
  background: radial-gradient(ellipse at 50% 150%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 90%);
}
.btn-radialShadow:after {
  top: 100%;
  background: radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 90%);
}
.btn-radialShadow:hover:before, .btn-radialShadow:hover:after {
  opacity: 1;
}

.btn-insetShadow {
	padding:8px 16px;
	border: 1px solid black;
	font-size:24px;
}
.btn-insetShadow:hover {
	transition: all 0.5s ease-in-out ;
	box-shadow: inset 4px 4px 0px 0px #000;
}

.btn-outsetShadow {
	padding:8px 16px;
	border: 1px solid black;
	font-size:24px;
}
.btn-outsetShadow:hover {
	transition: all 0.5s ease-in-out ;
	box-shadow: 4px 4px 0px 0px #000;
}