*{
	margin:0;padding:0;
}

.title{
	padding:15px 0px;
	background-color: #000;
	color:#fff;
}

.sub-title{
	padding:10px 0px;
	color:#444;
}

.text-center{
	text-align: center;
}

.item-list{
	margin: 40px 10px;
}

/*	Animated Card CSS	*/

.flip-card{
	display:inline-block;
	width: 200px;
	height: 200px;
	border-radius:3px;
	margin:0px 12px;
}
.img{
	width:200px;height:200px;
}
.flip-card-horizontal, .flip-card-vertical {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-horizontal {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back, .flip-card-backside {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-back {
	box-shadow: 0px 0px 10px 1px #000;
	background-color: #fff;
	color: #333;
	transform: rotateY(180deg);
}
.flip-card-head{
	padding:5px 7px;
	border-bottom:1px solid #000;
}
.flip-card-body{
	padding:5px 7px;
	border-bottom:1px solid #000;
}
p{
	padding:5px;
}
.flip-card-footer{
	padding:10px;
}
.btn{
	padding:8px 16px;
	border:none;
	color: #fff;
}
.large-button{
	background-color: blue;
	font-size:18px;
}

.flip-card:hover .flip-card-vertical {
  transform: rotateX(180deg);
}
.flip-card-backside {
	box-shadow: 0px 0px 10px 1px #000;
	background-color: #fff;
	color: #333;
	transform: rotateX(180deg);
}

/*	Parallax Card CSS	*/

.parallax-card{
	max-width: 650px;
    display: inline-block;
    width: 100%;
    
	padding-bottom: 10%;
}
.parallax-img{
	height:300px;
	background: url("../images/ls.jpg") no-repeat fixed;
}
.parallax-base{
	border-left: 1px solid;
	border-bottom: 1px solid;
	border-right: 1px solid;
	padding: 2% 0;
}
