*{
	margin:0;padding:0;
}

.title{
	padding:15px 0px;
	background-color: #000;
	color:#fff;
}

.sub-title{
	padding:10px 0px;
	color:#444;
}

.text-center{
	text-align: center;
}

.item-list{
	margin: 40px 10px;
}

/*	Fade-in-out animation CSS*/

.slider{
  width: 600px;
  height: 300px;
  margin: 20px auto;
  position: relative;
}
.slide1,.slide2,.slide3{
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1 img,
.slide2 img,
.slide3 img{
  width: 100%;
  height: 100%;
}
.slide1{
	background-position:center;
	background-repeat:no-repeat;
	background-size: cover;
	animation:fade 8s infinite;
-webkit-animation:fade 8s infinite;

} 
.slide2{
	background-position:center;
	background-repeat:no-repeat;
	background-size: cover;
	animation:fade2 8s infinite;
-webkit-animation:fade2 8s infinite;
}
.slide3{
	background-position:center;
	background-repeat:no-repeat;
	background-size: cover;
	animation:fade3 8s infinite;
-webkit-animation:fade3 8s infinite;
}
@keyframes fade{
	0%   {opacity:1}
	33.333% { opacity: 0}
	66.666% { opacity: 0}
	100% { opacity: 1}
}
@keyframes fade2{
	0%   {opacity:0}
	33.333% { opacity: 1}
	66.666% { opacity: 0 }
	100% { opacity: 0}
}
@keyframes fade3{
	0%   {opacity:0}
	33.333% { opacity: 0}
	66.666% { opacity: 1}
	100% { opacity: 0}
}


/*	With Indicator CSS	*/

.slider-withIndicator{
	margin: 0 auto;
	margin-top: 20px;
	position:relative;
	width:600px;
	height:300px;
	/* padding-bottom: 38%; */
}
.slider-content-img{
	position:absolute;
	width:100%;
	height:300px;
	z-index:-1;
}
.slider-content-img img{
	width:100%;
	height:100%;
}
#i1, #i2, #i3, #i4{
	display:none;
}
.pre, .nxt{
	width:10%;
	height:100%;
	position:absolute;
	top:0; 
	background-color: rgba(0, 0, 0,.5);
	color:rgba(244, 244, 244,.9);
	z-index: 99;
	transition: .45s;
	cursor: pointer;
	text-align: center;
}
.pre{
	left:0;
}
.nxt{
	right:0;
}
.prev:hover, .next:hover{
	transition: .3s;
	background-color: rgba(0, 0, 0,.8);
	color: #ffffff; 
}
label span{
	position: absolute;
	font-size: 80px;
	left:15px;
	top: 50%;
	transform: translateY(-50%);
}
.nav{
	width:100%;
	height:10px;
	bottom:10%;
	text-align:center;
	z-index:99;
	position:absolute;
}
.indicator{
	width:15px;
	height:15px;
	position:relative;
	top: -5px;
	border-radius:50%;
	display:inline-block;
	background:#333;
}
#i1:checked  ~  .nav #indi1,
#i2:checked  ~  .nav #indi2,
#i3:checked  ~  .nav #indi3,
#i4:checked  ~  .nav #indi4{
	background-color: rgba(255,255,255,.9);
}
#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four{
	z-index: 9; 
	animation: scroll 1s ease-in-out;
}
@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}

/*	Without Indicator CSS	*/

.slider-withoutIndicator{
	position:relative;
	overflow:hidden;
	width:600px;
	margin:auto;
}
.slider-withoutIndicator, .slider-list{
	height:300px;
}
.slider-list{
	position:absolute;
	left:0;
	width:9000px;
	left:0;
	top:-15px;
	list-style: none;
	transition:left .2s linear;
	animation:sliding 5s infinite;
}
.slider-list:hover{
	animation-play-state: paused;
}
.slider-listItem{
	display:inline-block;
	width:600px;
	height:300px;
	float:left;
	position:relative;
	
}
.slider-content{
	margin:0 auto;
	padding:0;
	width:600px;
}
.slider-content img{
	width:100%;
}
@keyframes sliding{
	20%{left: 0}
	25%{left: -600px}
	45%{left: -600px}
	50%{left: -1200px}
	70%{left: -1200px}
	75%{left: -1800px}
	98%{left: -1800px}
	100%{left: 0}
}





/* .slider-list-fade{ */
	/* position:absolute; */
	/* left:0; */
	/* width:9000px; */
	/* left:0; */
	/* top:-15px; */
	/* list-style: none; */
	/* transition:left .2s ease-in-out; */
	/* animation:fade 5s infinite;  */
/* } */
/* .fade1 { */
	/* animation:fade1 5s infinite; */
/* }.fade2 { */
	/* animation:fade2 5s infinite; */
/* }.fade3 { */
	/* animation:fade3 5s infinite; */
/* } */

/* @keyframes fade { */
	
	/* 20%{left: 0,opacity:1} */
	/* 25%{left: -600px,opacity: 0} */
	/* 45%{left: -600px,opacity: 0} */
	/* 50%{left: -1200px,opacity: 0} */
	/* 70%{left: -1200px,opacity: 0} */
	/* 75%{left: -1800px,opacity: 0} */
	/* 98%{left: -1800px,opacity: 0} */
	/* 100%{left: 0,opacity:1} */
	
 /* 0%   {opacity:1} */
  /* 33.333% { opacity: 0} */
  /* 66.666% { opacity: 0} */
  /* 100% { opacity: 1} */
/* } */
/* @keyframes fade2 { */
	
	/* 20%{left: 0,opacity:0} */
	/* 25%{left: -600px,opacity: 0} */
	/* 45%{left: -600px,opacity: 1} */
	/* 50%{left: -1200px,opacity: 1} */
	/* 70%{left: -1200px,opacity: 0} */
	/* 75%{left: -1800px,opacity: 0} */
	/* 98%{left: -1800px,opacity: 0} */
	/* 100%{left: 0,opacity:0} */
	
 /* 0%   {opacity:0} */
  /* 33.333% { opacity: 1} */
  /* 66.666% { opacity: 0 } */
  /* 100% { opacity: 0} */
/* } */
/* @keyframes fade3 { */
	
	/* 20%{left: 0,opacity:1} */
	/* 25%{left: -600px,opacity: 0} */
	/* 45%{left: -600px,opacity: 0} */
	/* 50%{left: -1200px,opacity: 0} */
	/* 70%{left: -1200px,opacity: 0} */
	/* 75%{left: -1800px,opacity: 1} */
	/* 98%{left: -1800px,opacity: 1} */
	/* 100%{left: 0,opacity:1} */
	
 /* 0%   {opacity:0} */
  /* 33.333% { opacity: 0} */
  /* 66.666% { opacity: 1} */
  /* 100% { opacity: 0} */
/* } */